# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/
env/

# IDE / Editor specific
.vscode/
.idea/

# macOS
.DS_Store

# Data files
# Если база данных будет большой, ее тоже лучше игнорировать.
# Но для нашего проекта пока можно ее оставить, чтобы она была в репозитории.
data/*.db 
# Temporary files & logs
path
*.log
