# Виртуальные окружения Python
.venv/
pyvenv.cfg # Этот файл создается рядом с .venv, его тоже не нужно коммитить

# Python кэш и байт-код
__pycache__/
*.py[cod]
*$py.class

# Файлы IDE / Редактора VS Code
# По умолчанию игнорируем все в .vscode, НО разрешаем launch.json
.vscode/*
!.vscode/launch.json
# Если у тебя есть файл .vscode/settings.json с общими настройками проекта,
# и ты хочешь его коммитить, добавь еще одну строку с восклицательным знаком:
# !.vscode/settings.json
# Если есть .vscode/extensions.json (рекомендации расширений для проекта),
# тоже можно добавить:
# !.vscode/extensions.json


# Локальные конфигурационные файлы (если появятся)
# config.ini
# local_settings.py
# .env

# Файлы данных (если они большие или генерируются локально и не должны быть в репо)
# data/
# *.csv
# *.json # Если это выходные данные парсера, а не исходные

# Логи
*.log

# Файлы операционных систем
.DS_Store # macOS
Thumbs.db # Windows
